click==8.0.1
Flask==2.0.1
gunicorn
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.2
Pillow==8.3.2
Werkzeug==2.0.1
--extra-index-url https://google-coral.github.io/py-repo/
tflite_runtime
