html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #FFFFFF;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  /*margin: 0 auto;*/
  /*padding: 0 26px;*/
  width: 100%;
  height: 100%;
  background: rgba(154,57,163,1);
  background: -moz-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(154,57,163,1)), color-stop(100%, rgba(65,103,168,1)));
  background: -webkit-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
  background: linear-gradient(135deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a39a3', endColorstr='#4167a8', GradientType=1 );*/
}
h1 {
  display: block;
  margin: 0 auto 25px auto;
  text-align: center;
  font-size: 1.92em;
  font-weight: 600;
  letter-spacing: -0.055em;
}
h2 {
  display: block;
  margin: 0 auto 60px auto;
  text-align: center;
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: -0.015em;
}
.container {
  position: relative;
  margin: calc(75px + 2vh + 2vw) auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 840px;
}
.search-box {
  position: relative;
  width: 100%;
  height: 140px;
  border-radius: 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #fff;
  width: 768px;
  justify-content: center;

}

.buttons {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: center;

}

.button {
  font-size: 24px;
  background: linear-gradient(
148deg,#7d5fff, #18dcff, #7d5fff);
  border: 0;
  margin: 3px;
  font-family: 'Montserrat Alternates';
  font-weight: bold;
  color: white;
  border-radius: 4px;
  width:  144px;
  height: 48px;
  transition: all 0.2s;
  cursor:  pointer;
}

.button:hover {
  border: 1px solid #fff;
  cursor:  pointer;
}

.button:active {
  transform: scale(0.95);
}

#canvas {
  border-radius: 24px;
}


.prediction-container {
  width: 240px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.prediction-heading {
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 16px;
}

.prediction-label {
  border: 2px dashed black;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  padding: 18px 36px;
  padding: 10px 36px 3px 36px;
}

.confidence {
  font-size: 18px;
  color: limegreen;
}

.draw-title {
  color:  #000;
  font-size:  24px;
  font-weight: bold;
  margin-right: 16px;
  margin-left: -32px;
  text-align: center;
}

.social-icons {
  background-color: #fff;
  padding: 10px 72px;
  width: 360px;
  text-align: center;
  margin: 48px auto;
  border-radius: 32px;
}

.social-icons a:not(a:nth-child(4)) {
  margin-right: 24px;
}

.social-icons a img {
  width: 24px;
  transition: all 0.2s;
}

.social-icons a img:hover {
  transform: scale(1.1);
}
